{% extends "layouts/base_layout.html" %}

{% block main %}
    {% if user %}

        <div id="error" class="alert alert-danger" style="display: none"></div>
        <section id="section-container">
        <div id="loading" class="text-center m-5" style="display: none">
                <div class="spinner-border"></div>
        </div>
            <div class="d-flex">
              <form action="/" method="POST" class="card-body float-right">
                      {% if error %}
                          <div class="alert alert-danger">
                             {{ error }}
                          </div>
                      {% endif %}

                      <div class="form-group">
                          <label for="todo_input">Название задачи:</label>
                          <input type="text" name="todo_name" class="form-control" id="todo_input">
                      </div>
                     <!--<div class="form-group">
                          <label for="desc_input">Описание задачи:</label>
                          <input type="text" name="todo_desc" class="form-control" id="desc_input">
                      </div>-->
                      <button type="submit" class="btn btn-primary">Добавить задачу</button>
              </form>
           </div>

          <div class="todo_block">
              <ul id="todo-list" class="list-group">
              {% for i in range(0, len) %}
              <li class="list-group-item list-group-item-action todo-item" data-id="{{todo[i].id}}">
                  <div class="header-block" id="header-block{{todo[i].id}}">
                      <h1 class="header-todo" data-toggle="collapse" data-target="#demo{{todo[i].id}}">
                          {{todo[i].title}}
                      </h1>
                  </div>
              </li>
              {% endfor %}
              </ul>
          </div>
        </section>
    {% else %}
    <div class="alert alert-info">
        ToDo Сервис
    </div>
    {% endif %}
{% endblock %}
